.App #nome {
    font-size: 40;
    border-radius: 10%;
    display: flex;
    border-top: 1000px;
}

.App #salvar {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: aliceblue;

}
